[submodule "Network"]
	path = Network
	url = https://github.com/RealityShard/Network.git
[submodule "Container"]
	path = Container
	url = https://github.com/RealityShard/Container.git
[submodule "Shardlet"]
	path = Shardlet
	url = https://github.com/RealityShard/Shardlet.git
