[submodule "Documentation"]
	path = Documentation
	url = git@github.com:RealityShard/Documentation.git
[submodule "Network"]
	path = Network
	url = git@github.com:RealityShard/Network.git
[submodule "Container"]
	path = Container
	url = git@github.com:RealityShard/Container.git
[submodule "Shardlet"]
	path = Shardlet
	url = git@github.com:RealityShard/Shardlet.git
